
if SHIELD_TDH70_DONGLE

config ZMK_KEYBOARD_NAME
	default "TDH70 Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif


if SHIELD_TDH70_DONGLE || SHIELD_TDH70_LEFT || SHIELD_TDH70_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif

