#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        // The dongle is the ZMK Studio endpoint (central), so it must use the
        // physical-layout scheme: a zmk,physical-layout chosen (no
        // zmk,matrix-transform chosen) with the same 70 key positions as the
        // halves, so Studio shows/edits the full split keymap.
        zmk,physical-layout = &physical_layout0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <5>;
// | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |                 | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |
// | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |                 | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |
// | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |                 | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |
// | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 | SW25 |   | SW25 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |
//               | SW30 | SW29 | SW28 | SW27 | SW26 |   | SW26 | SW27 | SW28 | SW29 | SW30 |
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6)                                        RC(0,7) RC(0,8) RC(0,9)  RC(0,10) RC(0,11) RC(0,12) RC(0,13)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6)                                        RC(1,7) RC(1,8) RC(1,9)  RC(1,10) RC(1,11) RC(1,12) RC(1,13)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6)                                        RC(2,7) RC(2,8) RC(2,9)  RC(2,10) RC(2,11) RC(2,12) RC(2,13)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(4,6) RC(4,5)        RC(4,8) RC(4,7) RC(3,7) RC(3,8) RC(3,9)  RC(3,10) RC(3,11) RC(3,12) RC(3,13)
                                RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4)        RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13)
        >;
    };

    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   94        0     0    94>
            , <&key_physical_attrs 100 100  100   94        0   100    94>
            , <&key_physical_attrs 100 100  200   94        0   200    94>
            , <&key_physical_attrs 100 100  300   32        0   300    32>
            , <&key_physical_attrs 100 100  400    0        0   400     0>
            , <&key_physical_attrs 100 100  500   34        0   500    34>
            , <&key_physical_attrs 100 100  600   47        0   600    47>
            , <&key_physical_attrs 100 100 1252   47        0  1252    47>
            , <&key_physical_attrs 100 100 1352   34        0  1352    34>
            , <&key_physical_attrs 100 100 1452    0        0  1452     0>
            , <&key_physical_attrs 100 100 1552   32        0  1552    32>
            , <&key_physical_attrs 100 100 1652   94        0  1652    94>
            , <&key_physical_attrs 100 100 1752   94        0  1752    94>
            , <&key_physical_attrs 100 100 1852   94        0  1852    94>
            , <&key_physical_attrs 100 100    0  194        0     0   194>
            , <&key_physical_attrs 100 100  100  194        0   100   194>
            , <&key_physical_attrs 100 100  200  194        0   200   194>
            , <&key_physical_attrs 100 100  300  132        0   300   132>
            , <&key_physical_attrs 100 100  400  100        0   400   100>
            , <&key_physical_attrs 100 100  500  134        0   500   134>
            , <&key_physical_attrs 100 100  600  147        0   600   147>
            , <&key_physical_attrs 100 100 1252  147        0  1252   147>
            , <&key_physical_attrs 100 100 1352  134        0  1352   134>
            , <&key_physical_attrs 100 100 1452  100        0  1452   100>
            , <&key_physical_attrs 100 100 1552  132        0  1552   132>
            , <&key_physical_attrs 100 100 1652  194        0  1652   194>
            , <&key_physical_attrs 100 100 1752  194        0  1752   194>
            , <&key_physical_attrs 100 100 1852  194        0  1852   194>
            , <&key_physical_attrs 100 100    0  294        0     0   294>
            , <&key_physical_attrs 100 100  100  294        0   100   294>
            , <&key_physical_attrs 100 100  200  294        0   200   294>
            , <&key_physical_attrs 100 100  300  232        0   300   232>
            , <&key_physical_attrs 100 100  400  200        0   400   200>
            , <&key_physical_attrs 100 100  500  234        0   500   234>
            , <&key_physical_attrs 100 100  600  247        0   600   247>
            , <&key_physical_attrs 100 100 1252  247        0  1252   247>
            , <&key_physical_attrs 100 100 1352  234        0  1352   234>
            , <&key_physical_attrs 100 100 1452  200        0  1452   200>
            , <&key_physical_attrs 100 100 1552  232        0  1552   232>
            , <&key_physical_attrs 100 100 1652  294        0  1652   294>
            , <&key_physical_attrs 100 100 1752  294        0  1752   294>
            , <&key_physical_attrs 100 100 1852  294        0  1852   294>
            , <&key_physical_attrs 100 100    0  394        0     0   394>
            , <&key_physical_attrs 100 100  100  394        0   100   394>
            , <&key_physical_attrs 100 100  200  394        0   200   394>
            , <&key_physical_attrs 100 100  300  332        0   300   332>
            , <&key_physical_attrs 100 100  400  300        0   400   300>
            , <&key_physical_attrs 100 100  500  334        0   500   334>
            , <&key_physical_attrs 100 100  600  347        0   600   347>
            , <&key_physical_attrs 100 100  716  426     2900   716   426>
            , <&key_physical_attrs 100 100  826  517     4300   826   517>
            , <&key_physical_attrs 100 100 1136  426  (-2900)  1136   426>
            , <&key_physical_attrs 100 100 1026  517  (-4300)  1026   517>
            , <&key_physical_attrs 100 100 1252  347        0  1252   347>
            , <&key_physical_attrs 100 100 1352  334        0  1352   334>
            , <&key_physical_attrs 100 100 1452  300        0  1452   300>
            , <&key_physical_attrs 100 100 1552  332        0  1552   332>
            , <&key_physical_attrs 100 100 1652  394        0  1652   394>
            , <&key_physical_attrs 100 100 1752  394        0  1752   394>
            , <&key_physical_attrs 100 100 1852  394        0  1852   394>
            , <&key_physical_attrs 100 100  338  434        0   338   434>
            , <&key_physical_attrs 100 100  438  434        0   438   434>
            , <&key_physical_attrs 100 100  554  458     1400   554   458>
            , <&key_physical_attrs 100 100  668  513     2900   668   513>
            , <&key_physical_attrs 100 100  758  590     4300   758   590>
            , <&key_physical_attrs 100 100 1094  590  (-4300)  1094   590>
            , <&key_physical_attrs 100 100 1184  513  (-2900)  1184   513>
            , <&key_physical_attrs 100 100 1298  458  (-1400)  1298   458>
            , <&key_physical_attrs 100 100 1414  434        0  1414   434>
            , <&key_physical_attrs 100 100 1514  434        0  1514   434>
            ;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};